@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Adding font face
*/
@layer base {
  @font-face {
    font-family: Blender-Pro;
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/BlenderPro-Bold.woff2") format("woff2");
  }

  #cyberpunk-2077 {
    font-family: Blender-Pro;
    background: black;
    color: white;
  }
}

/* * {
  box-sizing: border-box;
} */

/* html {
  overflow-y:scroll;
  overflow: -moz-scrollbars-vertical;
} */

/* !! working !! */
/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
